<div class="personas">
    <div class="row">
        <div class="col-md-6">
            {{#each personas}}
            <div class="box">
                <h3>ID: {{this.id}}</h3>
                <p class="text">Nombre: {{this.nombre}}</p>
                <p class="text">Edad: {{this.edad}}</p>
            </div>
            {{/each}}
        </div>
        <div class="col-md-6">
            <form class="formulario" action="/addPerson" method="POST">
                <h2>Agregar Usuario: </h2>
                <input type="text" name="nombre" placeholder="Nombre">
                <input type="text" name="edad" placeholder="Edad">
                <input type="submit" value="Agregar Usuario">
            </form>

            {{#if agregado}}
                <div class="alerta">
                    <p>El usuario <strong>{{agregado}}</strong> ha sido agregado, con el ID {{agregadoid}}</p>
                </div>
            {{/if}}
        </div>
    </div>
</div>